*{
    margin: 0;
    padding: ;
}

.cabeçalho{
    background-color: rgba(252, 252, 252, 0.801);
    color: rgb(45, 23, 241);
    display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}
.foto {
    width: 20%;
}