*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: rgb(255, 238, 0);
    color: rgb(0, 0, 0);
    display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}
.foto {
    width: 15%;
}
.braços{background-color: aquamarine;
color: black;
}